In [10]:
import pandas as pd
import numpy as np
from models.kernel_regression import kernel_ridge_regressor
from utils.handling_predictions import spear, pear
from data import Data_nn3ml
import matplotlib.pyplot as plt

In [11]:
X = pd.read_parquet("../data/X_HKML.parquet")
B = pd.read_parquet("../data/B_HKML.parquet")
Y = pd.read_parquet("../data/Y_HKML.parquet")

In [3]:
data = Data_nn3ml(X, B, Y)

In [4]:
X_train, B_train, y_train = data.train_data(batch_size = 5)
X_df, B_df, y_df, all_epochs = data.X_df, data.B_df, data.y_df, data.all_epochs

In [5]:
model = kernel_ridge_regressor(metric = "linear") # try kernel = "rbf"

In [6]:
y_hat_df = model.train((X_train, B_train, y_train, X_df, B_df, y_df, all_epochs),  batch_size = 10, future_moons = 2, C = 3, D = 0, exposure = False)

100%|██████████| 2/2 [00:00<00:00,  2.09it/s]

In [7]:
y_hat_df

            date     y_hat    y_test
9832  2016-04-27  0.005012  0.013882
9833  2016-04-27 -0.009279 -0.010474
9834  2016-04-27 -0.014818  0.004988
9835  2016-04-27 -0.000724  0.008006
9836  2016-04-27 -0.006843 -0.001236
...          ...       ...       ...
11770 2016-05-04 -0.003863  0.024421
11771 2016-05-04 -0.002912 -0.015044
11772 2016-05-04  0.001734  0.006744
11773 2016-05-04  0.007577  0.003390
11774 2016-05-04  0.005667  0.009412

[1943 rows x 3 columns]

In [8]:
spearman_history = y_hat_df.groupby("date").apply(lambda x: spear(x))

In [ ]:
pearson_history = y_hat_df.groupby("date").apply(lambda x: pear(x))