In [1]:
import pandas as pd
import numpy as np
from models.kernel_regression import kernel_ridge_regressor
from utils.handling_predictions import spear, pear
from data import Data_nn3ml
import matplotlib.pyplot as plt

In [2]:
X = pd.read_parquet("../data/X_HKML.parquet")
B = pd.read_parquet("../data/B_HKML.parquet")
Y = pd.read_parquet("../data/Y_HKML.parquet")

In [3]:
data = Data_nn3ml(X, B, Y)

In [4]:
X_train, B_train, y_train = data.train_data(batch_size = 5)
X_df, B_df, y_df, all_epochs = data.X_df, data.B_df, data.y_df, data.all_epochs

In [5]:
model = kernel_ridge_regressor(metric = "linear") # try kernel = "rbf"

In [6]:
y_hat_df = model.train((X_train, B_train, y_train, X_df, B_df, y_df, all_epochs),  batch_size = 5, future_moons = 2, C = 3, D = 0, exposure = False)

100%|██████████| 2/2 [00:00<00:00,  4.02it/s]

In [7]:
y_hat_df

           date     y_hat    y_test
4956 2016-03-23 -0.006939  0.003989
4957 2016-03-23 -0.001400 -0.027218
4958 2016-03-23  0.006844 -0.017939
4959 2016-03-23 -0.006416  0.016825
4960 2016-03-23  0.006470 -0.016797
...         ...       ...       ...
6904 2016-03-30 -0.010988 -0.021652
6905 2016-03-30  0.006477 -0.107546
6906 2016-03-30  0.003593 -0.018299
6907 2016-03-30  0.006692  0.007063
6908 2016-03-30 -0.002085 -0.020501

[1953 rows x 3 columns]

In [8]:
spearman_history = y_hat_df.groupby("date").apply(lambda x: spear(x))

In [ ]:
pearson_history = y_hat_df.groupby("date").apply(lambda x: pear(x))